@import-normalize;
@import 'blog.css';

*, *::before, *::after {
    box-sizing: border-box;
    /* margin: 0px;
    padding: 0px; */
  }

  body {
   background-color:	hsl(210, 19%, 15%);
  }

  #root {
   display: flex;
   justify-content: center;
  }