@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@200;400&display=swap');

.blog {
    padding: 20px;
    margin-bottom:40px;
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 25px;
    background-color:	hsl(210, 19%, 22%);
    color: white;
    max-width: 40vw;
}

.blog-title {
    margin: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid white;
}

.blog .header {
    display: flex;
    justify-content: center;
}

.blog .footer {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
}

.blog-author {    
    max-width: 50%;
}

.blog-item {
    margin: 5px;
}

.blog-content {
    font-weight: 400;
}