.form-container {
    color: white;
    position: relative;
    top: -20px;
    margin: 0px;
    padding: 20px;
    padding-top: 30px;
    border-radius: 10px;
    background-color:	hsl(210, 100%, 22%);
    border: 1px solid black;
    width: 30vw;
}

.form-info-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    overflow: hidden;
}

.grid-item {
    margin: 2px 4px;

}

.from-create-post-container {
    display: flex;
    justify-content: center;
}